{
  "manifest_version": 3,
  "name": "{{ project_name }}",
  "version": "0.1.0",
  "description": "{{ description }}",
  "author": "{{ author }}",
  "action": {
    "default_title": "{{ project_name }}"
  },
  "content_scripts": [
    {
      "matches": ["<all_urls>"],
      "js": ["content.js"]
    }
  ]
}
