"""{{ project_name }}

{{ description }}
Generated using AGF template '{{ template_name }}'.
"""
import click


def greet(name: str) -> str:
    return f"Hello, {name}!"


@click.command()
@click.option("--name", default="world", help="Name to greet")
@click.option("--verbose", is_flag=True, help="Enable verbose output")
def main(name: str, verbose: bool) -> None:
    """Entry point for {{ project_name }}."""
    message = greet(name)
    if verbose:
        click.echo(f"[{{ project_slug }}] {message}")
    else:
        click.echo(message)


if __name__ == "__main__":
    main()
